<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>
			{% block title %}Cagnot'potes
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			<!--Import Google Icon Font-->
			<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
			<!--Import materialize.css-->
			<link

			type="text/css" rel="stylesheet" href="{{ asset('css/materialize.min.css') }}" media="screen,projection"/>
			<!--Custom styles-->

			<link type="text/css" rel="stylesheet" href="{{ asset('css/styles.css') }}" media="screen,projection"/>

		{% endblock %}
	</head>
	<body>
		{% block header %}
			<header class="navbar-fixed">
				<nav class="white">
					<div class="nav-wrapper">
						<a href="/" class="brand-logo center">Cagnot'Potes</a>
						<ul class="right hide-on-med-and-down">
							<li>
								<a href="{{ path(name = 'app_campaign_new') }}" class="waves-effect waves-light btn pink lighten-1">Créer une campagne</a>
							</li>
						</ul>

						<ul id="nav-mobile" class="sidenav">
							<li>
								<a href="{{ path(name = 'app_campaign_new') }}" class="waves-effect waves-light btn pink lighten-1">Créer une campagne</a>
							</li>
						</ul>

						{% if app.user %}

							<ul class="right hide-on-med-and-down">
								<li>
									<a href="{{ path(name = 'app_logout') }}" class="waves-effect waves-light btn blue lighten-1">Logout</a>
								</li>
							</ul>
						{% endif %}

						<ul id="nav-mobile" class="sidenav">
							<li>
								<a href="{{ path(name = 'app_logout') }}" class="waves-effect waves-light btn blue lighten-1">Logout</a>
							</li>
						</ul>
						<a href="#" data-target="nav-mobile" class="sidenav-trigger">
							<i class="material-icons">menu</i>
						</a>
					</div>
				</nav>
			</header>
		{% endblock %}
		{% block body %}{% endblock %}
	</body>

</html>
